.header {
  height: 6vh;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.campaign-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.campaign-logo {
  width: 64px;
  height: 64px;
  background-color: green;
  margin-right: 20px;
}

.campaign-details {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.campaign-li {
  margin: 20px;
}

.campaign-logo {
  border-radius: 20%;
}