/* General Styling */

ul {
  list-style-type: none;
}

.header {
  height: 8vh;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.plugco-logo {
  content: url("../assets/logo.png");
  height: 48px;
  width: 48px;
  cursor: pointer;
}

/* Campaign Specific */

.campaign-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.campaign-logo {
  width: 52px;
  height: 52px;
  background-color: green;
  margin-right: 20px;
  border-radius: 20%;
}

.campaign-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaign-name {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.campaign-pay {
  color: green;
}

.campaign-li {
  margin: 15px;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 10px;
}

/* Media Specific */

.media-ul {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 100%;
}

.media-ul::-webkit-scrollbar {
  display: none; 
}


.media-li {
  margin-right: 2%;
}

/* .media-preview {
  height: 395px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
} */
.media-preview {
  height: 200px;
  width: 110px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
}


.media-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.media-button {
  padding: 4px;
  margin-left: 2px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

.media-button {
  cursor: pointer;
}
